*, *::after, *::before {
    box-sizing: border-box;
}
body {
    background: #ddd;
    font-size: 100%;
    margin: 0;
}
h1, h2, h3 {
    font-family: "Trebuchet MS","Arial",sans-serif;
}
h1 {
    margin: 0 0 1em 0;
    font-size: 1em;
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding-bottom: .1em;
}
h2 {
    padding: .3em 0 .7em 0;
    font-size: 1.2em;
    color: hsl(0, 0%, 15%);
    margin: 0;
}
h2.pollCard-title {
    font-size: 1.4em;  
}
h3 {
    margin: 0.5em 0;
    font-size: 1em;
    color: hsl(0, 0%, 15%);
    font-weight: normal;
}
p {
    margin: 0 0 0.4em 0;
    font-size: 1em;
    color: hsl(0, 0%, 15%); 
    font-family: "Georgia",serif;
}
.title-bar {
    background-color: HSL(22, 100%, 63%);
    padding: 1em 1em 0 1em;
    margin: 0;
    box-shadow: 0em 0.1em 0.2em hsla(0, 0%, 0%, 0.8);
    background: url('default-header.png') repeat-x;
    position: relative;
}



.cards-area {
    max-width: 40em;
    margin: 1em auto;
}
.header-content-area {
    max-width: 40em;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

.options-block {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 15%);
    width: 50%;
}
.options-block input[type=checkbox] {
    display: none;
}
.options-block input[type=checkbox] + label {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 15%);
    padding-left: 1em;
} 
.options-block input[type=checkbox]:checked + label {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 100%);
} 

#login-buttons {
    position: absolute;
    right: 1em;
    bottom: 1em;
    display: none;
}
#login-buttons .login-close-text {
    float: right;
}
#login-dropdown-list {
    top: 0em;
    left: -10em;
}
.accounts-dialog {
    border: 1px solid hsl(0, 0%, 60%);
    border-radius: 0;
}
.clock {
    margin: 0.4em;
    background: hsl(0, 0%, 100%);
    padding: 1em 1.2em;
    box-shadow: 0em 0.1em 0.2em hsla(0, 0%, 0%, 0.8);
}

.admin-panel {
    margin: 0.4em;
    background: hsl(0, 0%, 100%);
    padding: 1em 1.2em;
    box-shadow: 0em 0.1em 0.2em hsla(0, 0%, 0%, 0.8);
    border-bottom: solid hsl(0, 85%, 57%) .3em;
    border-top: solid hsl(0, 85%, 57%) .3em;
    margin-bottom: 1em;
}
.timeField {
    width: 16em;
}
legend {
    border: none;
    color: hsl(0, 0%, 15%); 
    font-family: "Trebuchet MS","Arial",sans-serif;
    font-weight: bold;
}
fieldset {
    margin: 0;
    border: none;
    margin-bottom: 1em;
    color: hsl(0, 0%, 15%); 
}
label {
    width: 100%;
    display: block;
    padding: 0.4em 0;
    color: hsl(0, 0%, 15%); 
    font-family: "Georgia",serif;
}
input[type="text"], textarea {
    width: 100%;
    padding: 0.6em;
    font-family: "Georgia",serif;
    font-size: 1em;
    margin-bottom: 1em;
}
button {
    font-size: 1em;
    padding: 0.1em 0.6em;
    font-family: "Georgia",serif;
}

.cards {
    margin: 0.4em;
}
.card {
    background: hsl(0, 0%, 100%);
    margin-top: .4em;
    box-shadow: 0em 0.1em 0.2em hsla(0, 0%, 0%, 0.4);
    position: relative;
    border: 1px solid hsl(0, 0%, 60%);
    display: none;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;

    -webkit-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: center;
    -webkit-align-content: stretch;
    -webkit-align-items: stretch;

}
.card.transparent {
    display: flex;
    opacity: 0.5;

    -webkit-display: flex;
}
.card.revealed,
.card.transparent.revealed {
    display: flex;
    opacity: 1;

    -webkit-display: flex;
}
    .card header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;

        -webkit-display: flex;
        -webkit-flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -webkit-align-content: flex-start;
        -webkit-align-items: flex-start;

        padding: 1em 0 0 1em;
    }
        .card-title {

        }
        .card-buttons {
            display: flex;

            -webkit-display: flex;
        }
            .card input[type="checkbox"] {
                display:none;
            }
            .card input[type="checkbox"] + label {
                display: block;
                color: hsl(0, 0%, 15%);
                font-size: 1.6em;
                padding: .1em .5em .3em 0;
                line-height: 1em;
                cursor: pointer;
            }
            .card input[type="checkbox"] + label p {
                display: block;
                margin: 0px;
                padding: 0px;
            }
            .card input[type="checkbox"].checked + label {
                color: hsl(23, 100%, 45%);
            }
            .card .delete {
                border: none;
                background-color: transparent;
                font-size: 2em;
                color: #E33;
                margin: 0;
                padding: 0 .5em 0 0;
                display: none;
                line-height: 1em;
                text-decoration: none;
            } 
            .card .delete.show {
                display: inline;    
            }

    .content-area {
        padding: 0em 1em 1em 1em;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 5em;

        -webkit-flex-grow: 1;
        -webkit-flex-shrink: 0;
        -webkit-flex-basis: 5em;
    }
    .poll-area {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: stretch;

        -webkit-display: flex;
        -webkit-flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -webkit-justify-content: center;
        -webkit-align-content: stretch;
        -webkit-align-items: stretch;
    }
    .poll-option {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 3em;
        text-align: center;

        -webkit-flex-grow: 1;
        -webkit-flex-shrink: 0;
        -webkit-flex-basis: 3em;
    }
    .poll-option p {
        font-size: 2.8em;
        /*font-size: 3.5em;*/
        display: inline-block;
        margin: 0;
    }
    .poll-option:first-child {
        margin-right: .5em;
    } 
    .poll-option:last-child {
        margin-left: .5em;
    } 
.card .votebutton {
    display: block;
    position: static;
    bottom: unset;
    left: unset;
    width: 90%;
    margin: 0.7em 5% 0 5%;
    font-size: 1.3em;
    border: solid .1em hsl(32, 100%, 50%);
    border-radius: 1em;
    background-color: hsl(32, 100%, 50%);
    color: #fff;
    padding: 0.5em;
}
.card button.votebutton:focus,
.card button.votebutton:active,
.card button.votebutton::-moz-focus-inner {
    outline: none; 
    border-color: hsl(32, 100%, 50%);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

@media all and (min-width: 24em) { 
    .cards, .admin-panel, .clock {
        margin: 0 1em 1em;
    }
    .poll-option p {
        font-size: 3.5em;
        display: inline-block;
        margin: 0;
    }
    .card button.votebutton {
        font-size: 1.5em;
    }
}
@media all and (min-width: 25em) { 
    .card {
        margin-top: 1em;
        border: 1px solid hsl(0, 0%, 60%);
    }
    #login-buttons {
        display: block;
    }
}

