*, *::after, *::before {
    box-sizing: border-box;
}
body {
    background: #ddd;
    font-size: 100%;
    margin: 0;
}
h1, h2, h3 {
    font-family: "Trebuchet MS","Arial",sans-serif;
}
h1 {
    margin: 0 0 1em 0;
    font-size: 1em;
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding-bottom: .1em;
}
h2 {
    margin: 0 0 0.4em 0;
    padding-right: 1.7em;
    font-size: 1.2em;
    color: hsl(0, 0%, 15%);  
}
h2.pollCard-title {
    font-size: 1.8em;  
}
h3 {
    margin: 0 0 0.4em 0;
    font-size: 0.8em;
    color: hsl(0, 0%, 15%);
}
p {
    margin: 0 0 0.4em 0;
    font-size: 1em;
    color: hsl(0, 0%, 15%); 
    font-family: "Georgia",serif;
}
header {
    background-color: HSL(22, 100%, 63%);
    padding: 1em 1em 0 1em;
    margin: 0;
    box-shadow: 0em 0.1em 0.2em hsla(0, 0%, 0%, 0.8);
    background: url('default-header.png') repeat-x;
    position: relative;
}

.cards-area {
    max-width: 40em;
    margin: 0 auto;
}
.header-content-area {
    max-width: 40em;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

.options-block {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 15%);
    width: 50%;
}
.options-block input[type=checkbox] {
    display: none;
}
.options-block input[type=checkbox] + label {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 15%);
    padding-left: 1em;
} 
.options-block input[type=checkbox]:checked + label {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 100%);
} 

#login-buttons {
    position: absolute;
    right: 1em;
    bottom: 1em;
    display: none;
}
#login-buttons .login-close-text {
    float: right;
}
#login-dropdown-list {
    top: 0em;
    left: -10em;
}
.accounts-dialog {
    border: 1px solid hsl(0, 0%, 60%);
    border-radius: 0;
}
.clock {
    margin: 1em 1em 1.3em 1em;
    background: hsl(0, 0%, 100%);
    padding: 1em 1.2em;
    box-shadow: 0em 0.1em 0.2em hsla(0, 0%, 0%, 0.8);
}

section.admin-panel {
    margin: 1em 1em 1.3em 1em;
    background: hsl(0, 0%, 100%);
    padding: 1em 1.2em;
    box-shadow: 0em 0.1em 0.2em hsla(0, 0%, 0%, 0.8);
    border-top: solid hsl(0, 85%, 57%) .3em;
    border-bottom: solid hsl(0, 85%, 57%) .3em;
}
.timeField {
    width: 16em;
}
legend {
    border: none;
    color: hsl(0, 0%, 15%); 
    font-family: "Trebuchet MS","Arial",sans-serif;
    font-weight: bold;
}
fieldset {
    margin: 0;
    border: none;
    margin-bottom: 1em;
    color: hsl(0, 0%, 15%); 
}
label {
    width: 100%;
    display: block;
    padding: 0.4em 0;
    color: hsl(0, 0%, 15%); 
    font-family: "Georgia",serif;
}
input[type="text"], textarea {
    width: 100%;
    padding: 0.6em;
    font-family: "Georgia",serif;
    font-size: 1em;
    margin-bottom: 1em;
}
button {
    font-size: 1em;
    padding: 0.1em 0.6em;
    font-family: "Georgia",serif;
}

.cards {
    margin: 0 1em 1em;
}
.card {
    background: hsl(0, 0%, 100%);
    margin-top: 1em;
    box-shadow: 0em 0.1em 0.2em hsla(0, 0%, 0%, 0.4);
    position: relative;
    border: 1px solid hsl(0, 0%, 60%);
    display: none;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}
.text-part {
    padding: 1em 0 2em 1.2em;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 5em;
}
.button-part {
    padding: .5em 0.4em .5em 0;
    width: 2.4em;
    position: relative;
}

.card.transparent {
    display: flex;
    opacity: 0.5;
}
.card.revealed,
.card.transparent.revealed {
    display: flex;
    opacity: 1;
}
.card input[type="checkbox"] {
    display:none;
}
.card input[type="checkbox"] + label {
    display: inline;
    color: hsl(0, 0%, 15%);
    font-size: 2em;
    padding: 0;
    width: 1em;
    line-height: 1em;
}
.card input[type="checkbox"].checked + label {
    color: hsl(23, 100%, 45%);
}
.card button {
    border: none;
    background-color: transparent;
    font-size: 2em;
    color: #E33;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: -2px;
    display: none;
}

.poll-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}
.poll-option {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 3em;
    text-align: center;
}
.poll-option p {
    font-size: 3.5em;
    display: inline-block;
    margin: 0;
}
.poll-option:first-child {
    margin-right: .5em;
} 
.poll-option:last-child {
    margin-left: .5em;
} 
.card button.votebutton {
    display: block;
    position: static;
    bottom: unset;
    left: unset;
    width: 90%;
    margin: 5%;
    font-size: 1.5em;
    border: solid .1em hsl(32, 100%, 50%);
    border-radius: 1em;
    background-color: hsl(32, 100%, 50%);
    color: #fff;
    padding: 0.5em;
}
.card button.votebutton:focus,
.card button.votebutton:active,
.card button.votebutton::-moz-focus-inner {
    outline: none; 
    border-color: hsl(32, 100%, 50%);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

.card button.show {
    display: inline;
}

@media all and (min-width: 25em) { 
    #login-buttons {
        display: block;
    }
}